/*-- CSS Reset --*/
*{padding: 0;
margin: 0;
font-size: 100%;
font-weight: normal;
line-height: 1em;
}

/*-- Start main styling --*/

body {
    background: #E8DCB5;
    color: #171717;
    font-family: baskerville-display-pt, serif;
}

section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;
}

section{
    margin-bottom: 4rem;
}

p, blockquote {
    padding: .5rem 0;
    line-height: 1.3;
}

h1,h2,h3 {
    color:darkgreen;
}

h1 {
    font-size: 5.653rem;
    margin-top: 5rem;
    padding-bottom: 0;
}

h2 {
    font-size: 1.999rem;
    margin: 3rem 0 1rem 0;
}

blockquote {
    font-style: italic;
    font-size: 1.999rem;
    color:darkgreen;
    hanging-punctuation: first;
    text-indent: 0.7;
}

blockquote cite {
    font-style: normal;
    font-size: 1.5rem;
    color: #171717;
}

*/-- Styling Links --*/
a {
    color:darkgreen;
    text-decoration: none;
}

a hover {
    color:#E8DCB5;
    border-bottom: 1px dotted;
}

/*-- Navigation --*/

nav{
    position: fixes;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:darkgreen;
    padding: 1.5rem 0;
    font-size: 0.75rem;
}

nav ul{
text-align: center;
text-transform: uppercase;
letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;

}

nav a {color:#E8DCB5}

nav a: :hover {
    border-bottom: none;
    color: darkgreen;
    transition: all 0.3 ease-in-out;
}

.leader {
text-transform: uppercase;
}

/*---styling table---*/
table {
margin:auto;
display:table;
border-collapse: collapse;
border-spacing:2px;
margin-bottom:2rem;
width: 100%;
}

caption {
    margin:1.5rem 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

th {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    background: #E8DCB5;
    background: #88826d;
}

th, td {padding:0.5rem;}

table, td {
    background: #E8DCB5;
    border: 2px solid darkgreen;
}

/*---images---*/
img{
    display:block;
    margin: 2rem 0 2rem 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

hr {
    margin:100px 0;
    height: 3px;
    background: darkgreen;
    color: darkgreen;
    border: 0;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 4rem; 
}